version: 0
(
    body: Some((
        half_size: (
            0.85,
            0.7,
            4,
        ),
        density: 2,
        lifted: false,
        axle_offset: (
            1.1,
            0.8,
            2.1,
        ),
        auto_offset: false,
        friction: 0.5,
        restitution: 0,
        lin_damping: 0,
        ang_damping: 0,
    )),
    axles: (
        Some((
            half_size: (
                0.1,
                0.2,
                0.1,
            ),
            density: 1000,
            mass: 16,
            wheel_offset: (
                0.45,
                0,
                0,
            ),
            auto_offset: true,
            friction: 0.5,
            restitution: 0,
            lin_damping: 0,
            ang_damping: 0,
        )),
        Some((
            half_size: (
                0.1,
                0.2,
                0.1,
            ),
            density: 1000,
            mass: 16,
            wheel_offset: (
                0.45,
                0,
                0,
            ),
            auto_offset: true,
            friction: 0.5,
            restitution: 0,
            lin_damping: 0,
            ang_damping: 0,
        )),
        Some((
            half_size: (
                0.1,
                0.2,
                0.1,
            ),
            density: 1000,
            mass: 16,
            wheel_offset: (
                0.5,
                0,
                0,
            ),
            auto_offset: true,
            friction: 0.5,
            restitution: 0,
            lin_damping: 0,
            ang_damping: 0,
        )),
        Some((
            half_size: (
                0.1,
                0.2,
                0.1,
            ),
            density: 1000,
            mass: 16,
            wheel_offset: (
                0.5,
                0,
                0,
            ),
            auto_offset: true,
            friction: 0.5,
            restitution: 0,
            lin_damping: 0,
            ang_damping: 0,
        )),
    ),
    wheels: (
        Some((
            hh: 0.25,
            r: 0.56,
            density: 1,
            mass: 0.49260175,
            friction: 0.5,
            restitution: 0,
            lin_damping: 0,
            ang_damping: 0,
        )),
        Some((
            hh: 0.25,
            r: 0.56,
            density: 1,
            mass: 0.49260175,
            friction: 0.5,
            restitution: 0,
            lin_damping: 0,
            ang_damping: 0,
        )),
        Some((
            hh: 0.25,
            r: 0.57,
            density: 1,
            mass: 0.5103517,
            friction: 1,
            restitution: 0,
            lin_damping: 0,
            ang_damping: 0,
        )),
        Some((
            hh: 0.25,
            r: 0.57,
            density: 1,
            mass: 0.5103517,
            friction: 1,
            restitution: 0,
            lin_damping: 0,
            ang_damping: 0,
        )),
    ),
    accel: Some((
        vel_fwd: 85,
        vel_bwd: 7,
        damping_fwd: 100,
        damping_bwd: 100,
        damping_stop: 200,
    )),
    steer: Some((
        stiffness: 5000,
        stiffness_release: 10000,
        damping: 300,
        damping_release: 100,
        angle: 20,
    )),
)