version: 0
(
    accel: Some((
        vel_fwd: 130,
        vel_bwd: 7,
        damping_fwd: 3,
        damping_bwd: 100,
        damping_stop: 200,
    )),
    steer: Some((
        stiffness: 5000,
        stiffness_release: 10000,
        damping: 300,
        damping_release: 100,
        angle: 20,
    )),
    body: Some((
        half_size: (
            0.85,
            0.7,
            4,
        ),
        axle_offset: (
            0.95,
            0.5,
            2.05,
        ),
        auto_offset: true,
    )),
    bophys: Some((
        fixed: false,
        density: 2,
        mass: 0,
        friction: 0.5,
        restitution: 0,
        lin_damping: 0,
        ang_damping: 0,
    )),
    axles: (
        Some((
            half_size: (
                0.05,
                0.2,
                0.1,
            ),
            wheel_offset: (
                0.39999998,
                0,
                0.2,
            ),
            auto_offset: true,
        )),
        Some((
            half_size: (
                0.05,
                0.2,
                0.1,
            ),
            wheel_offset: (
                0.39999998,
                0,
                0.2,
            ),
            auto_offset: true,
        )),
        Some((
            half_size: (
                0.1,
                0.2,
                0.1,
            ),
            wheel_offset: (
                0.35000038,
                0,
                -0.1,
            ),
            auto_offset: true,
        )),
        Some((
            half_size: (
                0.1,
                0.2,
                0.1,
            ),
            wheel_offset: (
                0.35000038,
                0,
                -0.1,
            ),
            auto_offset: true,
        )),
    ),
    axphys: (
        Some((
            fixed: false,
            density: 1900,
            mass: 15.200001,
            friction: 0.5,
            restitution: 0,
            lin_damping: 0,
            ang_damping: 0,
        )),
        Some((
            fixed: false,
            density: 1900,
            mass: 15.200001,
            friction: 0.5,
            restitution: 0,
            lin_damping: 0,
            ang_damping: 0,
        )),
        Some((
            fixed: false,
            density: 1000,
            mass: 16,
            friction: 0.5,
            restitution: 0,
            lin_damping: 0,
            ang_damping: 0,
        )),
        Some((
            fixed: false,
            density: 1000,
            mass: 16,
            friction: 0.5,
            restitution: 0,
            lin_damping: 0,
            ang_damping: 0,
        )),
    ),
    wheels: (
        Some((
            hh: 0.2,
            r: 0.52,
        )),
        Some((
            hh: 0.2,
            r: 0.52,
        )),
        Some((
            hh: 0.2,
            r: 0.55,
        )),
        Some((
            hh: 0.2,
            r: 0.55,
        )),
    ),
    whphys: (
        Some((
            fixed: false,
            density: 17,
            mass: 0,
            friction: 0.5,
            restitution: 0,
            lin_damping: 0,
            ang_damping: 0,
        )),
        Some((
            fixed: false,
            density: 17,
            mass: 0,
            friction: 0.5,
            restitution: 0,
            lin_damping: 0,
            ang_damping: 0,
        )),
        Some((
            fixed: false,
            density: 15,
            mass: 0,
            friction: 0.5,
            restitution: 0,
            lin_damping: 0,
            ang_damping: 0,
        )),
        Some((
            fixed: false,
            density: 15,
            mass: 0,
            friction: 0.5,
            restitution: 0,
            lin_damping: 0,
            ang_damping: 0,
        )),
    ),
)